# YOUR PROJECT TITLE

> **Note the following:** 
> 1. This is *not* meant to be an example of an actual **data analysis project**, just an example of how to structure such a project.
> 1. Remember the general advice on structuring and commenting your code
> 1. The `dataproject.py` file includes a function which can be used multiple times in this notebook.

Imports and set magics:

In [244]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ipywidgets as widgets
import yfinance as yf

# autoreload modules when code is run
%load_ext autoreload
%autoreload 2

# user written modules
import dataprojectyf as dp

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Read and clean data

Import your data, either through an API or manually, and load it.

## Explore each data set

In order to be able to **explore the raw data**, you may provide **static** and **interactive plots** to show important developments

**Interactive plot** :

In [245]:
# a. fetch the data for the house representatives
house_raw = dp.fetch_data(mode="house", print_df = True)

# b. fech example data from yfinance
example_yf = yf.download("AAPL", "2022-03-01", "2022-03-31", interval="1d")

display(example_yf)

request successful

,date,ticker,amount,action,representative,party,description
0,2021-09-27,BP,"$1,001 - $15,000",purchase,Virginia Foxx,Republican,BP plc
1,2021-09-13,XOM,"$1,001 - $15,000",purchase,Virginia Foxx,Republican,Exxon Mobil Corporation
2,2021-09-10,ILPT,"$15,001 - $50,000",purchase,Virginia Foxx,Republican,Industrial Logistics Properties Trust - Common...
3,2021-09-28,PM,"$15,001 - $50,000",purchase,Virginia Foxx,Republican,Phillip Morris International Inc
4,2021-09-17,BLK,"$1,001 - $15,000",sale_partial,Alan S. Lowenthal,Democrat,BlackRock Inc
...,...,...,...,...,...,...,...
16943,2020-04-09,SWK,"$1,001 - $15,000",sale_partial,Ed Perlmutter,Democrat,"Stanley Black & Decker, Inc."
16944,2020-04-09,USB,"$1,001 - $15,000",sale_partial,Ed Perlmutter,Democrat,U.S. Bancorp
16945,2020-03-13,BMY,"$100,001 - $250,000",sale_full,Van Taylor,Republican,Bristol-Myers Squibb Company
16946,2020-03-13,LLY,"$500,001 - $1,000,000",sale_full,Van Taylor,Republican,Eli Lilly and Company
16947,2020-03-13,DIS,"$250,001 - $500,000",sale_full,Van Taylor,Republican,Walt Disney Company

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-03-01,164.699997,166.600006,161.970001,163.199997,162.217346,83474400
2022-03-02,164.389999,167.360001,162.949997,166.559998,165.557114,79724800
2022-03-03,168.470001,168.910004,165.550003,166.229996,165.229095,76678400
2022-03-04,164.490005,165.550003,162.100006,163.169998,162.187515,83737200
2022-03-07,163.360001,165.020004,159.039993,159.300003,158.340836,96418800
2022-03-08,158.820007,162.880005,155.800003,157.440002,156.492020,131148300
2022-03-09,161.479996,163.410004,159.410004,162.949997,161.968857,91454900
2022-03-10,160.199997,160.389999,155.979996,158.520004,157.565536,105342000
2022-03-11,158.929993,159.279999,154.500000,154.729996,153.798340,96970100
2022-03-14,151.449997,154.119995,150.100006,150.619995,149.713074,108732100
2022-03-15,150.899994,155.570007,150.380005,155.089996,154.156158,92964300
2022-03-16,157.050003,160.000000,154.460007,159.589996,158.629074,102300200
2022-03-17,158.610001,161.000000,157.630005,160.619995,159.652878,75615400
2022-03-18,160.509995,164.479996,159.759995,163.979996,162.992645,123511700
2022-03-21,163.509995,166.350006,163.009995,165.380005,164.384216,95811400
2022-03-22,165.509995,169.419998,164.910004,168.820007,167.803497,81532000
2022-03-23,167.990005,172.639999,167.649994,170.210007,169.185150,98062700
2022-03-24,171.059998,174.139999,170.210007,174.070007,173.021881,90131400
2022-03-25,173.880005,175.279999,172.750000,174.720001,173.667969,80546200
2022-03-28,172.169998,175.729996,172.000000,175.600006,174.542679,90371900
2022-03-29,176.690002,179.009995,176.339996,178.960007,177.882446,100589400
2022-03-30,178.550003,179.610001,176.699997,177.770004,176.699615,92633200

# Merge data sets

In [246]:
# b. clean the data
house_clean = dp.clean_data(house_raw, print_df = True)

12 invalid dates dropped
1710 invalid tickers dropped
75 options trades dropped

,date,ticker,action,representative,party,description,min_amount,max_amount
0,2021-06-01,LHX,purchase,Abigail Spanberger,dem,L3Harris Special Stock Grant,1001.0,15000.0
1,2022-09-01,LHX,purchase,Abigail Spanberger,dem,L3Harris Technolgies - Spouse granted RSU as p...,1001.0,15000.0
2,2023-03-02,LHX,sale_full,Abigail Spanberger,dem,L3Harris Technologies Inc,1001.0,15000.0
3,2020-07-06,AAPL,sale_full,Adam B. Schiff,dem,Apple Inc,1001.0,15000.0
4,2021-07-23,ABBV,sale_partial,Adam B. Schiff,dem,AbbVie Inc,1001.0,15000.0
...,...,...,...,...,...,...,...,...
15146,2020-03-23,WPC,sale_full,Zoe Lofgren,dem,W. P. Carey Inc. REIT,1001.0,15000.0
15147,2020-03-23,XEL,sale_full,Zoe Lofgren,dem,Xcel Energy Inc.,1001.0,15000.0
15148,2020-03-23,ZTS,sale_full,Zoe Lofgren,dem,Zoetis Inc. Class A,1001.0,15000.0
15149,2021-08-09,ZTS,purchase,Zoe Lofgren,dem,Zoetis Inc Class A,1001.0,15000.0
15150,2021-09-02,ZTS,purchase,Zoe Lofgren,dem,Zoetis Inc Class A,1001.0,15000.0

In [247]:
house_clean = dp.average_amount(house_clean)
dan = dp.select_rep(house_clean, "Nancy Pelosi", print_df = True)

,date,ticker,action,representative,party,description,min_amount,max_amount,amount
0,2020-05-08,AAPL,sale_partial,Nancy Pelosi,dem,Apple Inc.,500001.0,1000000.0,750000.5
1,2020-05-08,AAPL,sale_partial,Nancy Pelosi,dem,Apple Inc.,500001.0,1000000.0,750000.5
2,2020-05-08,AAPL,sale_partial,Nancy Pelosi,dem,Apple Inc.,1000001.0,5000000.0,3000000.5
3,2020-06-18,AAPL,sale_full,Nancy Pelosi,dem,Apple Inc.,1000001.0,5000000.0,3000000.5
4,2020-11-06,AAPL,sale_partial,Nancy Pelosi,dem,Apple Inc.,500001.0,1000000.0,750000.5
5,2021-05-21,AAPL,purchase,Nancy Pelosi,dem,Apple Inc,100001.0,250000.0,175000.5
6,2021-12-30,AAPL,sale_partial,Nancy Pelosi,dem,Apple Inc - Contribution of 3K shares held per...,500001.0,1000000.0,750000.5
7,2021-12-30,AAPL,sale_partial,Nancy Pelosi,dem,Apple Inc - Contribution of 3K shares held per...,500001.0,1000000.0,750000.5
8,2020-12-22,AB,purchase,Nancy Pelosi,dem,"AllianceBernstein Holding plc Purchsed 20,000 ...",500001.0,1000000.0,750000.5
9,2021-02-18,AB,purchase,Nancy Pelosi,dem,"AllianceBerstein Holding LP. Purchased 15,000 ...",500001.0,1000000.0,750000.5
10,2021-02-23,AB,purchase,Nancy Pelosi,dem,"AllianceBerstein Holding LP. Purchased 25,000 ...",500001.0,1000000.0,750000.5
11,2022-01-27,AB,purchase,Nancy Pelosi,dem,AllianceBerstein Holding LP - Purchased 10K units,250001.0,500000.0,375000.5
12,2022-12-28,AB,sale_partial,Nancy Pelosi,dem,Alliance Bernstein Holding LP Units - Sold 20K...,500001.0,1000000.0,750000.5
13,2021-05-21,AMZN,purchase,Nancy Pelosi,dem,Amazon.com Inc,500001.0,1000000.0,750000.5
14,2020-06-24,AXP,purchase,Nancy Pelosi,dem,American Express Company,100001.0,250000.0,175000.5
15,2020-06-18,CRM,purchase,Nancy Pelosi,dem,Salesforce.com Inc,1000001.0,5000000.0,3000000.5
16,2020-09-03,CRWD,purchase,Nancy Pelosi,dem,"CrowdStrike Holdings, Inc. - Class A",500001.0,1000000.0,750000.5
17,2022-12-21,DIS,sale_partial,Nancy Pelosi,dem,Walt Disney Company - Sold 10K shares @ 87.58 ...,500001.0,1000000.0,750000.5
18,2021-12-17,GOOG,purchase,Nancy Pelosi,dem,Alphabet Inc - Class C Capital - 10 CALL opts ...,500001.0,1000000.0,750000.5
19,2020-02-27,GOOGL,purchase,Nancy Pelosi,dem,Alphabet Inc. - Class A,500001.0,1000000.0,750000.5
20,2021-06-18,GOOGL,purchase,Nancy Pelosi,dem,Alphabet Inc - Class A,1000001.0,5000000.0,3000000.5
21,2022-12-20,GOOGL,purchase,Nancy Pelosi,dem,Alphabet Inc- Class A - Sold 10K shares,500001.0,1000000.0,750000.5
22,2022-12-21,GOOGL,purchase,Nancy Pelosi,dem,Alphabet Inc- Class A - Sold 10K shares,500001.0,1000000.0,750000.5
23,2022-12-28,GOOGL,sale_partial,Nancy Pelosi,dem,Alphabet Inc- Class A - Sold 10K shares,500001.0,1000000.0,750000.5
24,2020-05-08,IBKR,sale_partial,Nancy Pelosi,dem,"Interactive Brokers Group, Inc. - Class A",100001.0,250000.0,175000.5
25,2020-05-08,META,sale_partial,Nancy Pelosi,dem,"Facebook, Inc. - Class A",1000001.0,5000000.0,3000000.5
26,2020-08-07,META,sale_full,Nancy Pelosi,dem,"Facebook, Inc. - Class A",1000001.0,5000000.0,3000000.5
27,2020-05-08,MORN,sale_partial,Nancy Pelosi,dem,"Morningstar, Inc.",100001.0,250000.0,175000.5
28,2020-02-20,MSFT,purchase,Nancy Pelosi,dem,Microsoft Corporation,250001.0,500000.0,375000.5
29,2020-02-21,MSFT,purchase,Nancy Pelosi,dem,Microsoft Corporation,500001.0,1000000.0,750000.5
30,2020-02-28,MSFT,purchase,Nancy Pelosi,dem,Microsoft Corporation,100001.0,250000.0,175000.5
31,2021-12-21,MU,purchase,Nancy Pelosi,dem,Micron Technology Inc - 100 CALL opts with str...,250001.0,500000.0,375000.5
32,2020-06-18,NFLX,purchase,Nancy Pelosi,dem,"Netflix, Inc.",1000001.0,5000000.0,3000000.5
33,2022-12-29,NFLX,sale_partial,Nancy Pelosi,dem,Netflix Inc - Sold 1K shares at average price ...,250001.0,500000.0,375000.5
34,2022-12-30,NFLX,sale_partial,Nancy Pelosi,dem,Netflix Inc - Sold 1K shares at average price ...,250001.0,500000.0,375000.5
35,2021-06-03,NVDA,purchase,Nancy Pelosi,dem,NVIDIA Corporation,1000001.0,5000000.0,3000000.5
36,2021-07-23,NVDA,purchase,Nancy Pelosi,dem,"NVIDIA Corporation - purchased 5,000 shares",500001.0,1000000.0,750000.5
37,2022-07-26,NVDA,sale_full,Nancy Pelosi,dem,NVIDIA Corporation - Sold 25K shares at 165.05...,1000001.0,5000000.0,3000000.5
38,2020-06-12,PYPL,purchase,Nancy Pelosi,dem,"PayPal Holdings, Inc.",500001.0,1000000.0,750000.5
39,2020-06-12,PYPL,purchase,Nancy Pelosi,dem,"PayPal Holdings, Inc.",500001.0,1000000.0,750000.5
40,2020-06-24,PYPL,purchase,Nancy Pelosi,dem,"PayPal Holdings, Inc.",250001.0,500000.0,375000.5
41,2022-12-21,PYPL,sale_partial,Nancy Pelosi,dem,PayPal Holdings Inc - Sold 5K shares at avg pr...,250001.0,500000.0,375000.5
42,2022-12-28,PYPL,sale_partial,Nancy Pelosi,dem,PayPal Holdings Inc - Sold 5K shares at avg pr...,250001.0,500000.0,375000.5
43,2021-03-10,RBLX,purchase,Nancy Pelosi,dem,Roblox Corporation - purchase 10K shares,500001.0,1000000.0,750000.5
44,2022-12-28,RBLX,sale_partial,Nancy Pelosi,dem,Roblox Corporation Class A - Sold 5K shares @ ...,100001.0,250000.0,175000.5
45,2022-12-20,TSLA,sale_partial,Nancy Pelosi,dem,"Tesla Inc - Sold 5K shares @ $140.38 for $511,...",500001.0,1000000.0,750000.5
46,2020-05-08,V,sale_partial,Nancy Pelosi,dem,Visa Inc.,500001.0,1000000.0,750000.5
47,2020-05-08,V,sale_partial,Nancy Pelosi,dem,Visa Inc.,500001.0,1000000.0,750000.5
48,2022-06-21,V,sale_partial,Nancy Pelosi,dem,Visa Inc - Sold 10K shares,1000001.0,5000000.0,3000000.5
49,2022-11-08,V,sale_partial,Nancy Pelosi,dem,Visa Inc,1000001.0,5000000.0,3000000.5
50,2022-04-11,WBD,exchange,Nancy Pelosi,dem,Warner Bros Discovery In - Series A - 2419 sha...,50001.0,100000.0,75000.5
51,2020-02-20,WORK,purchase,Nancy Pelosi,dem,"Slack Technologies, Inc. Class A",250001.0,500000.0,375000.5
52,2021-07-22,WORK,sale_full,Nancy Pelosi,dem,"Slack Technologies Inc - Class A - 10,000 shar...",250001.0,500000.0,375000.5

Explain what you see when moving elements of the interactive plot around.

In [248]:
stocks_price = dp.get_stock_data(dan)

[*********************100%***********************]  22 of 22 completed

1 Failed download:
- WORK: No timezone found, symbol may be delisted

In [249]:
display(stocks_price)

,AAPL,AB,AMZN,AXP,CRM,CRWD,DIS,GOOG,GOOGL,IBKR,...,MSFT,MU,NFLX,NVDA,PYPL,RBLX,TSLA,V,WBD,WORK
Date,,,,,,,,,,,,,,,,,,,,,
2020-02-20,78.513969,27.180937,107.654999,130.456635,193.360001,63.380001,140.369995,75.907501,75.849503,55.826649,...,179.330399,58.403309,386.000000,76.895660,122.430000,NaN,59.960667,207.199615,29.980000,NaN
2020-02-21,76.736809,26.504711,104.798500,128.851974,189.500000,60.930000,138.970001,74.255501,74.172997,53.906994,...,173.661316,56.413639,380.070007,73.251389,119.489998,NaN,60.066666,204.612701,29.209999,NaN
2020-02-24,73.091782,25.665268,100.464500,122.442810,185.940002,58.080002,133.009995,71.079498,70.992996,52.839428,...,166.173813,54.453663,368.700012,68.072708,116.440002,NaN,55.585999,194.794083,28.309999,NaN
2020-02-25,70.616013,25.144495,98.637001,115.479637,181.270004,57.740002,128.190002,69.422501,69.316002,51.203815,...,163.431641,51.573086,360.089996,65.275360,109.660004,NaN,53.327332,184.612946,27.420000,NaN
2020-02-26,71.736237,24.911320,98.979500,113.187233,178.869995,58.459999,123.360001,69.658997,69.523499,52.947166,...,165.473709,51.840363,379.239990,66.670303,109.110001,NaN,51.919998,183.446899,26.469999,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-31,164.899994,36.560001,103.290001,164.341171,199.779999,137.259995,100.129997,104.000000,103.730003,82.559998,...,288.299988,60.340000,345.480011,277.769989,75.940002,44.980000,207.460007,225.460007,15.100000,NaN
2023-04-03,166.169998,35.700001,102.410004,163.175491,196.490005,136.550003,99.760002,104.910004,104.360001,82.430000,...,287.230011,59.610001,348.279999,279.649994,75.290001,46.419998,194.770004,229.000000,14.810000,NaN
2023-04-04,165.630005,34.810001,103.949997,161.959991,197.199997,136.860001,99.570000,105.120003,104.720001,80.940002,...,287.179993,57.270000,346.750000,274.529999,75.260002,46.290001,192.580002,227.660004,15.150000,NaN
2023-04-05,163.759995,34.119999,101.099998,161.080002,195.309998,127.800003,99.910004,104.949997,104.470001,80.050003,...,284.339996,57.020000,342.350006,268.809998,73.610001,45.389999,185.520004,228.169998,14.790000,NaN
2023-04-06,163.899994,34.310001,100.790001,159.669998,191.475006,126.779999,98.959999,106.690002,106.250000,79.870003,...,284.299988,58.435001,336.149994,268.757690,73.989998,45.923000,183.919998,225.229996,14.570000,NaN

In [256]:
dan_merge = dp.merge_data(dan, stocks_price, print_df = True)

# filter to only include AAPL
#dan_merge = dan_merge[dan_merge["ticker"] == "TSLA"]

# filtering to november 2021 only
#dan_merge = dan_merge[dan_merge["date"] >= "2021-11-08"]
#dan_merge = dan_merge[dan_merge["date"] <= "2021-11-16"]

dan_merge.info()

           date ticker       price    action    amount
0    2021-05-21   AAPL  124.148651  purchase  175000.5
1    2021-05-24   AAPL  125.801590      None       NaN
2    2021-05-25   AAPL  125.603638      None       NaN
3    2021-05-26   AAPL  125.554146      None       NaN
4    2021-05-27   AAPL  124.000191      None       NaN
...         ...    ...         ...       ...       ...
8209 2023-03-31   RBLX   44.980000      None       NaN
8210 2023-04-03   RBLX   46.419998      None       NaN
8211 2023-04-04   RBLX   46.290001      None       NaN
8212 2023-04-05   RBLX   45.389999      None       NaN
8213 2023-04-06   RBLX   45.923000      None       NaN

[8214 rows x 5 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8214 entries, 0 to 8213
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    8214 non-null   datetime64[ns]
 1   ticker  8214 non-null   string
 2   price   8214 non-null   float64
 3   action  8214 non-null   string
 4   amount  35 non-null     float64
dtypes: datetime64[ns](1), float64(2), string(2)
memory usage: 321.0 KB

In [338]:
portfolio = dp.portfolio(dan_merge)

display(portfolio)

,date,ticker,price,action,amount,share_change,shares_owned,daily_return,value_ticker,value_portfolio,weight_ticker,weighted_return,portfolio_return
0,2021-05-21,AAPL,124.148651,purchase,175000.5,1409,1409,NaN,174925.449432,1.871055e+07,0.009349,NaN,4.044121e-03
1,2021-05-24,AAPL,125.801590,None,NaN,0,1409,0.013314,177254.440262,1.909833e+07,0.009281,0.000124,2.097888e-02
2,2021-05-25,AAPL,125.603638,None,NaN,0,1409,-0.001574,176975.525513,1.910300e+07,0.009264,-0.000015,2.763356e-04
3,2021-05-26,AAPL,125.554146,None,NaN,0,1409,-0.000394,176905.791451,1.925431e+07,0.009188,-0.000004,7.984886e-03
4,2021-05-27,AAPL,124.000191,None,NaN,0,1409,-0.012377,174716.268745,1.926294e+07,0.009070,-0.000112,9.415853e-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8209,2023-03-31,RBLX,44.980000,None,NaN,0,5396,0.043377,242712.077530,1.345222e+07,0.018043,0.000783,2.035083e-02
8210,2023-04-03,RBLX,46.419998,None,NaN,0,5396,0.032014,250482.310120,1.339408e+07,0.018701,0.000599,-4.199694e-03
8211,2023-04-04,RBLX,46.290001,None,NaN,0,5396,-0.002800,249780.844940,1.339302e+07,0.018650,-0.000052,-8.100283e-07
8212,2023-04-05,RBLX,45.389999,None,NaN,0,5396,-0.019443,244924.436707,1.322619e+07,0.018518,-0.000360,-1.223381e-02
8213,2023-04-06,RBLX,45.923000,None,NaN,0,5396,0.011743,247800.509811,1.322324e+07,0.018740,0.000220,-1.249036e-05

In [330]:
# export the data
portfolio.to_csv("df.csv")

In [341]:
daily_data = dp.daily_data(dan_merge)
display(daily_data)

KeyError: "Column(s) ['portfolio_return'] do not exist"

In [280]:
df = dan_merge

In [314]:
# b. creating empty column for shares owned and share change
df['share_change'] = 0
df['shares_owned'] = 0
results_df = pd.DataFrame()

# finding tickers
tickers = df.ticker.unique()

# running a loop for each ticker
for ticker in tickers:
    ticker_df = df[df['ticker'] == ticker].reset_index()
    for i in range(len(ticker_df)):
        if i == 0:
            ticker_df.loc[i, 'share_change'] = ticker_df.loc[i, 'amount'] // ticker_df.loc[i, 'price']
            ticker_df.loc[i, 'shares_owned'] = ticker_df.loc[i, 'share_change']
        else:
            if ticker_df.loc[i, 'action'] == 'purchase':
                ticker_df.loc[i, 'share_change'] = ticker_df.loc[i, 'amount'] // df.loc[i, 'price']
            elif ticker_df.loc[i, 'action'] == 'sale_partial':
                ticker_df.loc[i, 'share_change'] = - (ticker_df.loc[i-1, 'shares_owned'] // 2)
            elif ticker_df.loc[i, 'action'] == 'sale_full':
                ticker_df.loc[i, 'share_change'] = - ticker_df.loc[i-1, 'shares_owned']
            ticker_df.loc[i, 'shares_owned'] = ticker_df.loc[i-1, 'shares_owned'] + ticker_df.loc[i, 'share_change'] # should give 0
    results_df = results_df.append(ticker_df)
    
results_df = results_df.reset_index(drop=True)
results_df = results_df.drop(columns=['index'])

,index,date,ticker,price,action,amount,share_change,shares_owned
0,7690,2021-03-10,RBLX,69.500000,purchase,750000.5,10791,10791
1,7691,2021-03-11,RBLX,73.900002,None,NaN,0,10791
2,7692,2021-03-12,RBLX,69.699997,None,NaN,0,10791
3,7693,2021-03-15,RBLX,72.150002,None,NaN,0,10791
4,7694,2021-03-16,RBLX,77.000000,None,NaN,0,10791
...,...,...,...,...,...,...,...,...
519,8209,2023-03-31,RBLX,44.980000,None,NaN,0,5396
520,8210,2023-04-03,RBLX,46.419998,None,NaN,0,5396
521,8211,2023-04-04,RBLX,46.290001,None,NaN,0,5396
522,8212,2023-04-05,RBLX,45.389999,None,NaN,0,5396
523,8213,2023-04-06,RBLX,45.923000,None,NaN,0,5396

<StringArray>
[ 'AAPL',    'AB',  'AMZN',   'AXP',   'CRM',  'CRWD',  'GOOG', 'GOOGL',
  'MSFT',    'MU',  'NFLX',  'NVDA',  'PYPL',  'RBLX']
Length: 14, dtype: string

,date,ticker,price,action,amount,share_change,shares_owned
0,2021-05-21,AAPL,124.148651,purchase,175000.5,1409,1409
1,2021-05-24,AAPL,125.801590,None,NaN,0,1409
2,2021-05-25,AAPL,125.603638,None,NaN,0,1409
3,2021-05-26,AAPL,125.554146,None,NaN,0,1409
4,2021-05-27,AAPL,124.000191,None,NaN,0,1409
...,...,...,...,...,...,...,...
8209,2023-03-31,RBLX,44.980000,None,NaN,0,5396
8210,2023-04-03,RBLX,46.419998,None,NaN,0,5396
8211,2023-04-04,RBLX,46.290001,None,NaN,0,5396
8212,2023-04-05,RBLX,45.389999,None,NaN,0,5396
8213,2023-04-06,RBLX,45.923000,None,NaN,0,5396

# Analysis

# Conclusion